@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap');

*{
  font-family: 'Baloo Da 2', cursive;
}

.custom_box{
  border: 1px solid #7babf829;
  box-shadow: 0 0 20px 0px #b3cdf740;
  border-radius: 10px;
}

.hero_bg{
  background-size: cover;
  height: 70vh;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("Utility/icon/car_bg.png")
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: -6px !important;
  
}

.swiper {
  padding: 32px !important;
}
